<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="SConsolidator Oxygen Target" sequenceNumber="1513666902">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="ch.hsr.ifs.cdttesting.feature.feature.group" version="9.3.0.201707120748"/>
      <repository location="https://cevelop.com/cdt-testing/9.3.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.cdt.sdk.feature.group" version="9.4.0.201712051550"/>
      <repository location="http://download.eclipse.org/tools/cdt/builds/9.4/rc4/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.zest.sdk.feature.group" version="1.7.0.201606061308"/>
      <repository location="http://download.eclipse.org/releases/oxygen"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.sdk" version="4.7.1.M20171009-0410"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.7"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.6.0.201706141832"/>
      <repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>
    </location>
  </locations>
</target>
