<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Sconsolidator Oxygen Target" sequenceNumber="109">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.sdk.feature.group" version="9.3.0.201706122201"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.13.0.v20170609-0928"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.11.0.201606061308"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.7.0.201606061308"/>
<repository location="http://download.eclipse.org/releases/oxygen"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.6.0.201706141832"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.6.0.201706141832"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="2.6.0.201706141832"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.6.0.201706141832"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="ch.hsr.ifs.cdttesting.feature.feature.group" version="9.3.0.201707120748"/>
<repository location="https://cevelop.com/cdt-testing/9.3.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="4.7.0.I20170612-0950"/>
<unit id="org.eclipse.sdk.ide" version="4.7.0.I20170612-0950"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7"/>
</location>
</locations>
</target>
