<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="SConsolidator" sequenceNumber="1532003778">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.7.0.201806111355"/>
      <unit id="org.apache.log4j" version="0.0.0"/>
      <unit id="org.eclipse.platform.sdk" version="4.8.0.I20180611-0500"/>
      <unit id="org.eclipse.sdk.ide" version="4.8.0.I20180611-0500"/>
      <unit id="org.eclipse.zest.feature.group" version="1.7.0.201606061308"/>
      <repository location="http://download.eclipse.org/releases/photon"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.cdt.sdk.feature.group" version="9.5.1.201807051742"/>
      <repository location="http://download.eclipse.org/tools/cdt/releases/9.5"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="ch.hsr.ifs.iltis.testing.highlevel.feature.feature.group" version="1.1.0.201807160751"/>
      <repository location="https://www.cevelop.com/iltis/"/>
    </location>
  </locations>
</target>
