<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="ch.hsr.ifs.sconsolidator.core" sequenceNumber="44">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.feature.group" version="2.3.0.201506081302"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="2.3.0.201506081302"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.3.0.201506081302"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.3.0.201506081302"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.5.1.M20150904-0015"/>
<unit id="org.eclipse.platform.sdk" version="4.5.1.M20150904-0015"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.feature.group" version="8.8.0.201509131935"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.6.1.201508170204"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.10.1.201508170204"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
</locations>
</target>
